body {
  display: grid;
  grid-template-columns: 600px auto;
  gap: 20px;
  padding: 20px;
}
label {
  display: block;
  padding: 10px;
}
.buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

canvas {
  outline: 2px solid #666;
}

svg {
  outline: 2px solid #666;
}

.axis {
  stroke: #666;
  stroke-width: 1;
}

.point {
  /* eslint-disable-next-line */
  r: 5px;
}
.toplabel,
.inputlabel,
.outputlabel {
  fill: black;
  font: bold 16px sans-serif;
}
.toplabel {
  text-anchor: middle;
}
.inputlabel {
  text-anchor: end;
}
.outputlabel {
  text-anchor: start;
}
.weight line {
  stroke-width: 2;
}
.weight text {
  fill: black;
  font: 14px sans-serif;
}
