body {
  display: grid;
  grid-template-columns: 600px auto;
  gap: 20px;
  padding: 20px;
}
label {
  display: block;
  padding: 10px;
}
.buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

canvas {
  outline: 2px solid #666;
}
